.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.idea

# Cache
__pycache__
*.pyc
.pytest_cache

# Viertual enviroment
env
venv

# Database
db.sqlite3

# Migrations
migrations/

# Coverage
.coverage
htmlcov
